html {
    overflow-y: auto !important;
}


.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.swal2-container{
    z-index: 1000000!important;
}

.grid-button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 5px;
    right: 0px;
}

.bg-gray-100:hover{
    background: rgb(233, 233, 233);
}

.table-border{
    border-bottom: 1px solid rgb(235, 235, 235); 
}

.table-border:nth-child(1){
    border-top: 1px solid rgb(235, 235, 235); 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.-top-1px {
    position: relative;
    top: -1px;
}
.v-window__container{
    height: 100%!important;
}

::-webkit-scrollbar  {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}


.ag-theme-material {
    --ag-borders: 1px solid;
    --ag-row-border-width: 1px;
    --ag-row-border-color: #eee;
    --ag-border-color: #e9e9e9;
    --ag-cell-horizontal-padding: 8px!important;
    /* --ag-background-color: transparent; */
}

.custom-row{
    background: rgb(255, 255, 255)!important;
    max-height: 50px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 3px #eeeeee;
}

/* 1. declare transition */
.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.8) translate(30px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.fade-leave-active {
  position: absolute;
}

.alert-button-width{
    width: 80px;
}


.position-top-left{
    position: absolute;
    top: 0;
    left: 0;
   z-index: 10000;

}

.vertical-text {
    writing-mode: vertical-lr;
    /* transform: scaleY(-1); */
    transform: rotate(180deg);
}
.print-hidden{
    display: none;
}
@media print {
    .print-none{
        display: none;
    }
    .print-hidden{
        display: block;
    }
}